/target
**/*.rs.bk
/tools/tla2tools.jar
/tools/apalache/
/opt/tlaps/
specs/.tlacache/
specs/unb-logs/
specs/states/
*.st
specs/_apalache-out/
__pycache__/
*.pyc
papers/conlawdist/data/synthetic_demo/
